# {{ ansible_managed }}
upstream:
  {{ blocky_upstreams | to_nice_yaml(indent=2) | trim | indent(2) }}

blocking:
  blockTTL: {{ blocky_blocking_ttl | to_nice_yaml(indent=2) | trim | indent(2) }}
  blackLists:
    {{ blocky_blocking_blacklists | to_nice_yaml(indent=2) | trim | indent(4) }}
  clientGroupsBlock:
    {{ blocky_blocking_client_groups_block | to_nice_yaml(indent=2) | trim | indent(4) }}
  whiteLists:
    {{ blocky_blocking_whitelists | to_nice_yaml(indent=2) | trim | indent(4) }}

ports:
  dns: {{ blocky_ports_dns | to_nice_yaml(indent=2) | trim | indent(2) }}
  http: {{ blocky_ports_http | to_nice_yaml(indent=2) | trim | indent(2) }}

logLevel: {{ blocky_log_level | to_yaml }}

customDNS:
  customTTL: 60m
  filterUnmappedTypes: true
  rewrite:
  mapping:
    {{ blocky_custom_dns | to_nice_yaml(indent=2) | trim | indent(4) }}

conditional:
  fallbackUpstream: false
  mapping:
    {{ blocky_custom_domain | to_nice_yaml(indent=2) | trim | indent(4) }}

prometheus:
  enable: true
  path: /metrics
